{# @var response \craft\web\Response #}
{# @var signals \attributes\signals\PokemonDetail #}

{% set response = datastar.runAction('entries/save-entry', {
    entryId: signals.entryId,
    fields: signals.pokemonEntry
}) %}
{% if response.isSuccessful %}
    {% fragment %}
        <h1 id="title" class="text-5xl font-bold">
            {{ signals.pokemonEntry.pokemonName }}
        </h1>
    {% endfragment %}
    {% fragment %}
        <div id="alert" class="alert alert-success"
             data-show="!$editing"
        >
            Saved!
        </div>
    {% endfragment %}
    {% do signals.editing(false) %}
{% else %}
    {% fragment %}
        <div id="alert" class="alert alert-error"
             data-show="$editing"
        >
            {{ response.data.errors|first|first }}
        </div>
    {% endfragment %}
{% endif %}
