<section>
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <img src="{{ alias('@web/assets/pokemon-logo.png') }}" alt="Pokemon logo"/>
                <p class="mb-3">Powered by <a href="https://putyourlightson.com/plugins/spark">Craft
                        Datastar</a> & <a href="https://data-star.dev/">Datastar</a></p>
                <h1 id="title" class="text-5xl font-bold">{{ pageTitle }}</h1>
            </div>
        </div>
    </div>
</section>
