<section>
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <img src="{{ alias('@web/assets/pokemon-logo.png') }}" alt="Pokemon logo"/>
                <p class="mb-3">Powered by Spark & Datastar</p>
                <h1 id="title" class="text-5xl font-bold">{{ pageTitle }}</h1>
            </div>
        </div>
    </div>
</section>
