{# @var store \attributes\stores\FacetedSearch #}

{# Set up the query to get the Pokemon! #}
{% set results = [] %}
{# If the search string isn't empty, execute the query #}
{% if store.search is not empty %}
    {% set query = craft.entries()
        .section(['pokemon'])
        .search(store.search)
        .orderBy('score') %}
    {# Handle the generation facet #}
    {% if store.generation > 0 %}
        {% do query.generation(store.generation) %}
    {% endif %}
    {# Handle the generation facet #}
    {% if store.type != 'all' %}
        {% do query.type1(store.type) %}
    {% endif %}
    {# Execute the query to fetch the results #}
    {% set results = query.all() %}
{% endif %}

{% fragment %}
    <div id="search-results">
        <div class="w-full overflow-x-scroll">
            <div class="carousel carousel-center rounded-box">
                {% for result in results %}
                    <div class="carousel-item rounded-lg overflow-hidden m-2">
                        {{ include("_includes/pokemon-summary.twig", {pokemon: result}, with_context = false) }}
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <p>No results</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfragment %}

{% do store.resultsCount(results | length) %}
