{# @var response \craft\web\Response #}
{# @var store \attributes\stores\PokemonDetail #}
{% set response = spark.runAction('entries/save-entry', {
    entryId: store.entryId,
    fields: store.pokemonEntry
}) %}
{% if response.isSuccessful %}
    {% fragment %}
        <h1 id="title" class="text-5xl font-bold">
            {{ store.pokemonEntry.pokemonName }}
        </h1>
    {% endfragment %}
    {% fragment %}
        <div id="alert" class="alert alert-success"
             data-show="!$editing"
        >
            Saved!
        </div>
    {% endfragment %}
    {% do store.editing(false) %}
{% else %}
    {% fragment %}
        <div id="alert" class="alert alert-error"
             data-show="$editing"
        >
            {{ response.data.errors|first|first }}
        </div>
    {% endfragment %}
{% endif %}
