{% extends "layout.twig" %}

{# -- Content that appears before the primary content block -- #}
{% block preContent %}
    {{ include("simple-reactive/_includes/site-header.twig", with_context = false) }}
{% endblock %}

{# -- Primary content block -- #}
{% block content %}
    <section data-signals="{input: ''}">
        <div class="text-center">
            <h3 class="text-3xl p-3">Type something:</h3>
            <input
                class="input input-bordered w-full max-w-xs"
                data-bind-input
                data-on-keydown="$stats.characterCount = $stats.characterCount + 1"
                placeholder=""
                type="text"
            />
            <p class="text-3xl p-3">
                <span data-text="$input"></span>
                <span data-show="$input == 'Toronto'" style="display: none;">🇨🇦</span>
            </p>
            <button
                class="btn btn-primary m-3"
                data-on-click="$input = 'woof'; alert('Set it to woof!');">Set it to 'woof'!
            </button>
        </div>
    </section>
{% endblock %}

{# -- Content that appears after the primary content block -- #}
{% block postContent %}
    <section class="text-center" data-signals="{stats: {characterCount: 0}}">
        <p>
            Characters typed:
            <span data-text="$stats.characterCount">0</span>
        </p>
    </section>
{% endblock %}
