{% extends "vendor/nystudio107/craft-twig-base-templates/templates/_layouts/html-page.twig" %}

{% block headLinks %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock headLinks %}

{# -- Content that appears before the primary content block -- #}
{% block preContent %}
{% endblock %}

{# -- Primary content block -- #}
{% block content %}
    <section>
        <div class="hero bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Spark / Datastar Pokemon demo</h1>
                </div>
            </div>
        </div>
    </section>

    <section data-store="{ search: ''}">
        <h3>Spark search</h3>

        <input
            data-model="search"
            data-on-input.debounce_500ms="{{ spark('_spark/faceted-search.twig') }}"
            placeholder="Search..."
            type="text"
        />
        <div id="search-results">
        </div>
    </section>
{% endblock %}

{# -- Content that appears after the primary content block -- #}
{% block postContent %}
{% endblock %}

{# -- Any <script></script> tags that should be included before </body> -- #}
{% block bodyScripts %}
    {{ parent() }}
{% endblock bodyScripts %}
