{% extends "vendor/nystudio107/craft-twig-base-templates/templates/_layouts/html-page.twig" %}

{% block htmlTag %}
<html
    lang="{{ craft.app.language | slice(0,2) }}"
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
    data-theme="dark"
>
{% endblock htmlTag %}

{% block headLinks %}
    <link href="{{ alias('@web/css/daisyui-full.min.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ alias('@web/js/tailwindcss.min.js') }}"></script>
{% endblock headLinks %}

{% block postContent %}
    <h1 class="text-xl">Datastar Signals (debug output):</h1>
    <code>
    <pre data-text="ctx.signals.JSON()">
    </pre>
    </code>
{% endblock postContent %}
